body {
  background-color: #ececec;
  padding: 0;
  margin: 0;
}
header{
  background-color: #19202a;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
.cartIcon{
  fill: whitesmoke;
  width: 1.5em;
  height: 1.5em;
  padding: 0 !important;
}
.num{
  display: flex;
  padding: 15px;
  color: #8d8b8b;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.shadow{
  height: 100%;
  padding: 20px;
}
img{
  height: 200px;
}
.card-body p{
  height: 40px;
  font-size: 15px;
  overflow: auto
}
.list-group-item{
  display: flex !important;
  /* flex-wrap: wrap; */
  align-content: center !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.list-group-item img{
  width: 80px;
  height: 80px;
}
.list-group-item p{
  font-size: small;
}
.cartn{
  color: white;
  background-color: #dc3737;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  display: none;
}
.list-group{
  display: flex;
  flex-direction: row;
}
.num .list-group-item{
  border: none !important;
  font-size: 13px !important;
  padding: 5px;
  border-radius: 10px !important;
  justify-content: center !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.num .list-group{
  display: flex;
  flex-direction: row;
}